.venv/
gg.ipynb
src/models/__pycache__/KNearestNeighborsScratch.cpython-312.pyc
src/models/__pycache__/LogisticRegressionScratch.cpython-312.pyc
src/models/__pycache__/SVMscratch.cpython-312.pyc
src/feature_reduction/__pycache__/CorrelationFilter.cpython-312.pyc
src/feature_reduction/__pycache__/PCAScratch.cpython-312.pyc
src/feature_reduction/__pycache__/SVDscratch.cpython-312.pyc
